* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0px solid red;
}

:root {
  --first-color: #596d48;
  --input-border: #e5e7eb;
  --background-color: #293141;
  --form-background-color: #324162;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
}
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

body {
  background-color: var(--background-color);
  height: 100vh;
  width: 100vw;
}

img {
  height: 100%;
  width: 40%;
  object-fit: cover;
}

input {
  border: 2px solid blue;
}

input:focus {
  border: 10px solid black;
}

input:user-invalid {
  border: 2px solid red;
}

input:user-valid {
  border: 2px solid green;
}

.form-section-cont {
  height: 100%;
  width: 60%;
}

.form-cont {
  background-color: var(--form-background-color);
  width: 100%;
  align-items: flex-end;
  justify-content: space-around;
}
